<% include ../layout/header.ejs %>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="table_1" style="float:left;margin-left:-130px;border:10px solid black;">
<center><h3>8 Noodles</h3></center>
<table id="Table_01" width="515" height="575" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="9"></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="33" alt=""></td>
	</tr>
	<tr>
		<td colspan="7" rowspan="2">
			<img src="/Zone6/images/index_02.gif" width="378" height="103" alt=""></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_11'])">
				<img src="/Zone6/images/Zone6_11_green.jpg" id="Zone6_11" width="87" class="green" height="88" border="0" alt=""></a></td>
		<td rowspan="8">
			<img src="/Zone6/images/index_04.gif" width="49" height="542" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="88" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<a onclick = "change_image('Zone6',['Zone6_10'])">
				<img src="/Zone6/images/Zone6_10_green.jpg" id="Zone6_10" class="green" width="87" height="104" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="/Zone6/images/index_06.gif" width="63" height="439" alt=""></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_04'])">
				<img src="/Zone6/images/Zone6_04_green.jpg" class="green" id="Zone6_04" width="42" height="89" border="0" alt=""></a></td>
		<td rowspan="6">
			<img src="/Zone6/images/index_08.gif" width="37" height="439" alt=""></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_05'])">
				<img src="/Zone6/images/Zone6_05_green.jpg" width="104" id="Zone6_05" class="green" height="89" border="0" alt=""></a></td>
		<td rowspan="6">
			<img src="/Zone6/images/index_10.gif" width="36" height="439" alt=""></td>
		<td><a onclick = "change_image('Zone6',['Zone6_06'])">
			<img src="/Zone6/images/Zone6_06_green.jpg" class="green" id="Zone6_06" width="75" height="89" alt="">
		</a>
		</td>
		<td rowspan="6">
			<img src="/Zone6/images/index_12.gif" width="21" height="439" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="89" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<img src="/Zone6/images/index_13.gif" width="42" height="350" alt=""></td>
		<td>
			<img src="/Zone6/images/index_14.gif" width="104" height="15" alt=""></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone6',['Zone6_07'])">
				<img src="/Zone6/images/Zone6_07_green.jpg" id="Zone6_07" class="green" width="75" height="104" border="0" alt=""></a></td>
		<td rowspan="2">
			<a onclick = "change_image('Zone6',['zone6_09'])">
				<img src="/Zone6/images/Zone6_09_green.jpg" width="87" id="zone6_09" class="green" id="" height="104" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_03'])">
				<img src="/Zone6/images/Zone6_03_green.jpg" id="Zone6_03" class="green" width="104" height="89" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="89" alt=""></td>
	</tr>
	<tr>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_02'])">
				<img src="/Zone6/images/Zone6_02_green.jpg" id="Zone6_02" class="green" width="104" height="90" border="0" alt=""></a></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_08'])">
				<img src="/Zone6/images/Zone6_08_green.jpg" id="Zone6_08" class="green" width="75" height="90" border="0" alt=""></a></td>
		<td rowspan="3">
			<img src="/Zone6/images/index_20.gif" width="87" height="246" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="90" alt=""></td>
	</tr>
	<tr>
		<td>
			<a onclick = "change_image('Zone6',['Zone6_01'])">
				<img src="/Zone6/images/Zone6_01_green.jpg" class="green" id="Zone6_01" width="104" height="69" border="0" alt=""></a></td>
		<td rowspan="2">
			<a href="''" target="''">
				<img src="/Zone6/images/index_21.gif" width="75" height="156" border="0" alt=""></a></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="69" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone6/images/index_23.gif" width="104" height="87" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="1" height="87" alt=""></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
</table>
<div id="new_table"></div>
<div id="table_merge"></div>
</div>
<script>
  var zone = "6";
</script>
<br/>
<% include ../layout/footer.ejs %>