<% include ../layout/header.ejs %>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Untitled-1) -->
<div id="table_1" style="margin-bottom:50px">
<table id="Table_01" width="628" height="621" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="10">
			<img src="/Zone6/images/index_01.gif" width="628" height="166" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="/Zone6/images/index_02.gif" width="193" height="454" alt=""></td>
		<td colspan="8">
			<a onclick = "change_image('Zone6',['Zone6-1_03'])">
				<img src="/Zone6/images/Zone6-1_03_green.jpg" class="green" id="Zone6-1_03" width="234" height="72" border="0" alt=""></a></td>
		<td rowspan="6">
			<img src="/Zone6/images/index_04.gif" width="201" height="454" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a onclick = "change_image('Zone6',['Zone6-1_05'])">
				<img src="/Zone6/images/Zone6-1_05_green.jpg" id="Zone6-1_05" class="green" width="77" height="81" border="0" alt=""></a></td>
		<td colspan="3">
			<a onclick = "change_image('Zone6',['Zone6-1_06'])">
				<img src="/Zone6/images/Zone6-1_06_green.jpg" class="green" id="Zone6-1_06" width="81" height="81" border="0" alt=""></a></td>
		<td colspan="3">
			<a onclick = "change_image('Zone6',['Zone6-1_07'])">
				<img src="/Zone6/images/Zone6-1_07_green.jpg" class="green" id="Zone6-1_07" width="76" height="81" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<a onclick = "change_image('Zone6',['Zone6-1_08'])">
				<img src="/Zone6/images/Zone6-1_08_green.jpg" class="green" id="Zone6-1_08" width="77" height="61" border="0" alt=""></a></td>
		<td colspan="2">
			<a onclick = "change_image('Zone6',['Zone6-1_09-15','Zone6-1_09'])">
				<img src="/Zone6/images/Zone6-1_09_green.jpg" width="66" id="Zone6-1_09" class="green" height="61" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<a onclick = "change_image('Zone6',['Zone6-1_10'])">
				<img src="/Zone6/images/Zone6-1_10_green.jpg" width="63" height="82" class="green" id="Zone6-1_10" border="0" alt=""></a></td>
		<td rowspan="4">
			<img src="/Zone6/images/index_11.gif" width="28" height="301" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="/Zone6/images/index_12.gif" width="12" height="240" alt=""></td>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone6',['Zone6-1_13'])">
				<img src="/Zone6/images/Zone6-1_13_green.jpg" class="green" id="Zone6-1_13" width="81" height="123" border="0" alt=""></a></td>
		<td>
			<a onclick = "change_image('Zone6',['Zone6-1_09-15','Zone6-1_09'])">
				<img src="/Zone6/images/Zone6-1_09-15_green.jpg" class="green" id="Zone6-1_09-15" width="50" height="21" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="3">
			<a onclick = "change_image('Zone6',['Zone6-1_15'])">
				<img src="/Zone6/images/Zone6-1_15_green.jpg"class="green" id="Zone6-1_15" width="86" height="102" border="0" alt=""></a></td>
		<td rowspan="2">
			<img src="/Zone6/images/index_16.gif" width="27" height="219" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="/Zone6/images/index_17.gif" width="167" height="117" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone6/images/spacer.gif" width="193" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="65" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="16" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="50" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="27" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="28" height="1" alt=""></td>
		<td>
			<img src="/Zone6/images/spacer.gif" width="201" height="1" alt=""></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
</table>
<div id="new_table"></div>
<div id="table_merge"></div>
</div>
<script>
  var zone = "Zone6";
</script>
<% if(author=="Developer"){ %>
<br/>
<button type="submit" class="btn btn-primary" onclick="save_body('Zone6')">Save Layout</button>
<% } %>
<% include ../layout/footer.ejs %>