<% if(header){ %>
<% include ../layout/header_private.ejs %>
<% } else{ %>
<% include ../layout/header.ejs %>
<% } %>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Zone7.psd) -->
<div id="table_1" style="float:left;margin-left:-170px;border:10px solid black;">
<center><h3>Bubble Bar</h3></center>
<table id="Table_01" width="695" height="521" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="7">
			<img src="/Zone7/images/index_01.gif" width="694" height="144" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="144" alt=""></td>
	</tr>
	<tr>
		<td rowspan="13">
			<img src="/Zone7/images/index_02.gif" width="224" height="376" alt=""></td>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_03'])">
				<img src="/Zone7/images/Zone7-1_03_green.jpg" class="green" id="Zone7-1_03" width="80" height="67" border="0" alt=""></a></td>
		<td colspan="4">
			<img src="/Zone7/images/index_04.gif" width="390" height="51" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="51" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_05'])">
				<img src="/Zone7/images/Zone7-1_05_green.jpg" class="green" id="Zone7-1_05" width="81" height="67" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<img src="/Zone7/images/index_06.gif" width="309" height="32" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<img src="/Zone7/images/index_07.gif" width="80" height="69" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_08'])">
				<img src="/Zone7/images/Zone7-1_08_green.jpg" class="green" id="Zone7-1_08" width="83" height="63" border="0" alt=""></a></td>
		<td rowspan="10">
			<img src="/Zone7/images/index_09.gif" width="226" height="293" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone7/images/index_10.gif" width="81" height="18" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="18" alt=""></td>
	</tr>
	<tr>
		<td rowspan="6">
			<img src="/Zone7/images/index_11.gif" width="70" height="134" alt=""></td>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_12'])">
				<img src="/Zone7/images/Zone7-1_12_green.jpg" id="Zone7-1_12" class="green" width="81" height="61" border="0" alt=""></a></td>
		<td rowspan="2">
			<img src="/Zone7/images/index_13.gif" width="10" height="33" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone7/images/index_14.gif" width="83" height="23" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="23" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3">
			<a onclick = "change_image('Zone7',['Zone7-1_15'])">
				<img src="/Zone7/images/Zone7-1_15_green.jpg" class="green" id="Zone7-1_15" width="93" height="62" border="0" alt=""></a></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="28" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone7/images/index_16.gif" width="81" height="12" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_17'])">
				<img src="/Zone7/images/Zone7-1_17_green.jpg" class="green" id="Zone7-1_17" width="81" height="61" border="0" alt=""></a></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="22" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/Zone7/images/index_18.gif" width="93" height="39" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="39" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_19'])">
				<img src="/Zone7/images/Zone7-1_19_green.jpg" id="Zone7-1_19" class="green" width="80" height="52" border="0" alt=""></a></td>
		<td colspan="2">
			<a onclick = "change_image('Zone7',['Zone7-1_20'])">
				<img src="/Zone7/images/Zone7-1_20_green.jpg" id="Zone7-1_20" class="green" width="81" height="52" border="0" alt=""></a></td>
		<td>
			<a onclick = "change_image('Zone7',['Zone7-1_21'])">
				<img src="/Zone7/images/Zone7-1_21_green.jpg" id="Zone7-1_21" class="green" width="83" height="52" border="0" alt=""></a></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="52" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="/Zone7/images/index_22.gif" width="244" height="54" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="1" height="54" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/Zone7/images/spacer.gif" width="224" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="70" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="71" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="83" height="1" alt=""></td>
		<td>
			<img src="/Zone7/images/spacer.gif" width="226" height="1" alt=""></td>
		<td></td>
	</tr>
	<tr><td colspan=30><img src="/images/Legends.jpg"></td></tr>
</table>
<div id="new_table"></div>
<div id="table_merge"></div>
</div>
<script>
  var zone = "7";
</script>
<br/>
<% include ../layout/footer.ejs %>