<script type="text/javascript" src="/lib/vue.js"></script>
<script type="text/javascript" src="/lib/function_Developer.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="/lib/moveable_func.js"></script>
<% include ../layout/footer_dev.ejs %>
</body>
</html>