<hr>
<hr>
<div style="float:left;margin-left:10px;">
<section id="tabs" style='margin-top:50px'>
	<div class="container" id="contains">
		<div class="row">
			<div class="col-xs-12 ">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-add-tab" data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-add" aria-selected="true">Add</a>
						<a class="nav-item nav-link" id="nav-del-tab" data-toggle="tab" href="#nav-del" role="tab" aria-controls="nav-del" aria-selected="false">Delete</a>
						<a class="nav-item nav-link" id="nav-merge-tab" data-toggle="tab" href="#nav-merge" role="tab" aria-controls="nav-merge" aria-selected="false">Merge</a>
						<a class="nav-item nav-link" id="nav-split-tab" data-toggle="tab" href="#nav-split" role="tab" aria-controls="nav-split" aria-selected="false">Split</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">
					<form class="form-horizontal" id='form_add'>
					      <div class="form-group col-sm-10">
							  <label for="table_type">Select Table's Type :</label>
							  <select class="form-control" id="table_type">
								<option value="Circle_four">Circle</option>
								<option value="Square_four">Square</option>
							  </select>
						  </div>
						  <div class="form-group">
							<label class="control-label col-sm-7" for="table_no">Table No</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="table_no" placeholder="Enter Table No">
							</div>
						  </div>
						</form>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <button type="submit" class="btn btn-primary" id="add_div" onclick="add_new_div()">Add</button>
							</div>
						</div>

					</div>
					<div class="tab-pane fade" id="nav-del" role="tabpanel" aria-labelledby="nav-del-tab">
						<form class="form-horizontal" id='form_del'>
						  <div class="form-group">
							<label class="control-label col-sm-7" for="table_no">Table No</label>
							<div class="col-sm-10">
							  <input type="text" class="form-control" id="table_no" placeholder="Enter Table No">
							</div>
						  </div>
						</form>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <button type="submit" class="btn btn-primary" id="del_div" onclick="delete_div()">Delete</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-merge" role="tabpanel" aria-labelledby="nav-merge-tab">
					<form class="form-horizontal" id='form_merge'>
						  <div class="form-group">
							<label class="control-label col-sm-12" for="tables_no">Enter Tables (Separate With Commas)</label>
							<div class="col-sm-12">
							  <input type="text" class="form-control" id="tables_no" value="" placeholder="Enter Tables">
							</div>
						  </div>
						</form>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <button type="submit" class="btn btn-primary" id="mer_div" onclick="merge_div()">Merge</button>
							</div>
						</div>
				    </div>
					<div class="tab-pane fade" id="nav-split" role="tabpanel" aria-labelledby="nav-split-tab">
					<form class="form-horizontal" id='form_split'>
						  <div class="form-group">
							<label class="control-label col-sm-12" for="tables_no">Enter Tables In Merge (Separate With Commas)</label>
							<div class="col-sm-12">
							  <input type="text" class="form-control" id="tables_split" value="" placeholder="Enter Tables">
							</div>
						  </div>
						</form>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <button type="submit" class="btn btn-primary" id="spl_div" onclick="split_div()">Split</button>
							</div>
						</div>
				    </div>
				</div>

			</div>
		</div>
	</div>
</section>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>


<script>

function change_color(id="")
{
	if(document.getElementById(id).className  == "border_red")
	{
		document.getElementById(id).className  = "border_green";
	}
	else if(document.getElementById(id).className  == "border_green")
	{
		document.getElementById(id).className  = "border_blue";
	}
	else
	{
		document.getElementById(id).className  = "border_red";
	}


}

$('#mer_div').click(function(){
		console.log(123213213);
});



function add_new_div(id="",table_type=""){

	if(!id)
	{
	   var id = $('#form_add #table_no').val();
	}
	if(!table_type)
	{
	var table_type = $('#table_type').val();
	}

	$('#new_table').append('<div id="t'+id+'" class="green"><img class="'+table_type+'" src="/images/'+table_type+'_green.jpg" width="78" height="68" alt="">'+id+'</div>');
	$("#t"+id).draggable();
    $('#t'+id).click(function() {
            if($("#t"+id).attr('class')=="green")
			{

			   $("#t"+id).attr('class','red');
			   $("#t"+id).html('<img src="/images/'+table_type+'_red.jpg" width="78" height="68" alt="">'+id);


			}
			else if($("#t"+id).attr('class')=="border_green rectangle")
			{

			   $("#t"+id).attr('class','blue');
			   $("#t"+id).html('<img src="/images/'+table_type+'_blue.jpg" width="78" height="68" alt="">'+id);

			}
			else{

			   $("#t"+id).attr('class','green');
			   $("#t"+id).html('<img src="/images/'+table_type+'_green.jpg" width="78" height="68" alt="">'+id);
			}

	});


}

function delete_div(){

	var id = $('#form_del #table_no').val();
	$('#t'+id).remove();
}

function split_div(){
	var arr = $('#tables_split').val().split(',');
	
	i=0;
	
	var id_div = arr.join('_');	
	
	$('#t'+id_div+'_merge img').each(function() {
	    console.log($(this).attr('class'));
        add_new_div(arr[i],$(this).attr('class'));
		i++;
    });

	$('#t'+id_div+'_merge').remove();
}


//localStorage[zone] = "";

function merge_div(){

	var arr = $('#tables_no').val().split(',');
	
	var arr_table_type = [];

	$('#tables_no').val('');

	var width = 0;

	var div="";

	for(i=0;i<arr.length;i++)
	{
	        arr_table_type[i] = $('#t'+arr[i]).children('img').attr('class');  
	        div +='<div style="float:left;"><img class="'+arr_table_type[i]+'" src="/images/'+$('#t'+arr[i]+' img').attr('class')+'_green.jpg" width="78" height="68" alt="">'+arr[i]+'</div>';			
			$("#t"+arr[i]).remove();
	}
	var id_div = arr.join('_');

	$('#table_merge').append('<div class="green" id="t'+id_div+'_merge">'+div+'</div>');
	
	$('#t'+id_div+'_merge').click(function() {
	  	   if($('#t'+id_div+'_merge').attr('class')=="green")
		   {
		      var div = "";
		      $('#t'+id_div+'_merge').attr('class','blue');
		      for(i=0;i<arr.length;i++)
			  {
				div +='<div style="float:left;"><img class="'+arr_table_type[i]+'" src="/images/'+arr_table_type[i]+'_blue.jpg" width="78" height="68" alt="">'+arr[i]+'</div>';
			  }
			  $('#t'+id_div+'_merge').html(div);
		   }
		   else if($('#t'+id_div+'_merge').attr('class')=="blue")
		   {
		      var div = "";
		      $('#t'+id_div+'_merge').attr('class','red');
		      for(i=0;i<arr.length;i++)
			  {
				div +='<div style="float:left;"><img class="'+arr_table_type[i]+'" src="/images/'+arr_table_type[i]+'_red.jpg" width="78" height="68" alt="">'+arr[i]+'</div>';
			  }
			  $('#t'+id_div+'_merge').html(div);
		   }
		   else
		   {
		      var div = "";
		      $('#t'+id_div+'_merge').attr('class','green');
		      for(i=0;i<arr.length;i++)
			  {
				div +='<div style="float:left;"><img class="'+arr_table_type[i]+'" src="/images/'+arr_table_type[i]+'_green.jpg" width="78" height="68" alt="">'+arr[i]+'</div>';
			  }
			  $('#t'+id_div+'_merge').html(div);
		   }
	})


	$('#t'+id_div+'_merge').draggable();



}

function div_click(id){
	if($("#t"+id).attr('class')=="border_blue rectangle")
	{

	   $("#t"+id).attr('class','border_red rectangle');

	}
	else if($("#t"+id).attr('class')=="border_green rectangle")
	{

	   $("#t"+id).attr('class','border_blue rectangle');

	}
	else{
	   $("#t"+id).attr('class','border_green rectangle');
	}

}
</script>