<script type="text/javascript" src="/lib/vue.js"></script>
<script type="text/javascript" src="/lib/function.js"></script>
<script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>

<%if(author=="Admin") {%>
	<script type="text/javascript" src="/lib/moveable_func.js"></script>
<%}%>
</body>
</html>