<!DOCTYPE html>
<html>
<head>
<title>Creating Dynamic Data Graph using NodeJS, Jquery and Chart.js</title>
<style type="text/css">
BODY {
    width: 550PX;
}

#chart-container {
    width: 100%;
    height: auto;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>


</head>
<body>
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="#" id="index1">Chart JS Type 1</a>
    <a href="#" id="index2">Chart JS Type 2</a>
    <a href="#" id="index3">Chart JS Type 3</a>
  </div>
</div>
    <div id="chart-container" style="margin-top:120px">
        <canvas id="graphCanvas1"></canvas>
    </div>
	<div id="chart-container" style="margin-top:120px">
        <canvas id="graphCanvas2"></canvas>
    </div>
	<div id="chart-container" style="margin-top:120px">
        <canvas id="graphCanvas3"></canvas>
    </div>

    <script>
        $(document).ready(function () {
            showGraph();
        });
		
		$( "#index1" ).click(function() {
		  showGraph();
		});
		$( "#index2" ).click(function() {
		  showGraph2();
		});
		$( "#index3" ).click(function() {
		  showGraph3();
		});
		
		function hide_canvas(){
		    $("#graphCanvas1").hide();
			$("#graphCanvas2").hide();
			$("#graphCanvas3").hide();
		}


        function showGraph()
        {        
                hide_canvas();		
                $.get("crud/get_data1",
                function (data)
                {
                     var name = [];
                    var marks = [];

                    for (var i in data) {
                        name.push(data[i].bulan);
                        marks.push(data[i].hasil_penjualan);
                    }

                    var chartdata = {
                        labels: name,
                        datasets: [
                            {
                                label: 'Penjualan',
                                backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderWidth: 1,
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                data: marks
                            }
                        ]
                    };
					
					$("#graphCanvas1").show();

                    var graphTarget = $("#graphCanvas1");

                    var barGraph = new Chart(graphTarget, {
                        type: 'bar',
                        data: chartdata,
						options: {
                    scales: {
                        yAxes: [{
                                ticks: {
                                    beginAtZero: true,
									callback: function(value, index, values) {
                                  if(parseInt(value) >= 1000){
									  value = value/1000;
                                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'k';
                                  } else {
                                    return value;
                                  }
                                }
                                }
                            }]
                    }
                }
                    });
                });
           
        }
		
		function showGraph2()
        {
		        hide_canvas();
                $("#graphCanvas2").show();

                $.get("crud/get_data1",
                function (data)
                {
                     var name = [];
                    var marks = [];

                    for (var i in data) {
                        name.push(data[i].bulan);
                        marks.push(data[i].hasil_penjualan);
                    }

                    var chartdata = {
                        labels: name,
                        datasets: [
                            {
                                label: 'Penjualan',
                                backgroundColor: '#49e2ff',
                                borderColor: '#46d5f1',
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                data: marks,
				backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)'
				],
				borderColor: [
				'rgba(255,99,132,1)',
				'rgba(54, 162, 235, 1)'
				],
				borderWidth: 1
								
                            }
                        ]
                    };

                    var graphTarget = $("#graphCanvas2");

                    var barGraph = new Chart(graphTarget, {
                        type: 'pie',
                        data: chartdata,
						options: {
                    scales: {
                        yAxes: [{
                                ticks: {
                                    beginAtZero: true,
									callback: function(value, index, values) {
                                  if(parseInt(value) >= 1000){
									  value = value/1000;
                                    return value;
                                  } else {
                                    return value;
                                  }
                                }
                                }
                            }]
                    }
                }
                    });
                });
            
        }
		
		function showGraph3()
        {        
                hide_canvas();		
                $.get("crud/get_data2",
                function (data)
                {
                     var name = [];
                    var marks = [];

                    for (var i in data) {
                        name.push(data[i].student_name);
                        marks.push(data[i].marks);
                    }

                    var chartdata = {
                        labels: name,
                        datasets: [
                            {
                                label: 'Student Marks',
                                backgroundColor: '#49e2ff',
                                borderColor: '#46d5f1',
                                hoverBackgroundColor: '#CCCCCC',
                                hoverBorderColor: '#666666',
                                data: marks
                            }
                        ]
                    };
					
					$("#graphCanvas3").show();

                    var graphTarget = $("#graphCanvas3");

                    var barGraph = new Chart(graphTarget, {
                        type: 'bar',
                        data: chartdata,
						options: {
                    scales: {
                        yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                }
                            }]
                    }
                }
                    });
                });
           
        }
        </script>

</body>
</html>